################################################################
# Get this from
# https://developers.facebook.com/apps/
facebook.client-id=
facebook.secret=
################################################################
# Get this from
# https://console.developers.google.com/apis/credentials
google.client-id=
google.secret=
